:root{
    --primary-color:#ffffff;
    --secondary-color:#272643;
    --thirdly-color:#e3f6f5;
    --forth-color: #e3f6f5;
    --five-color: #2c698d;

}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
body{
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    font-family: 'Roboto', sans-serif;
}
.App{
    display:flex;;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
input{
     margin :25px;
     padding:15px;
    width:300px;
    background-color:FFFFFF;
    border:none;
    border-radius: 50px;
    color:black;
}
input:focus{
       outline:none;
}

button{
    background-color:#666;
    color:white;
    border:none;
    border-radius:50px;
    width: 80px;
    padding: 15px;
    cursor : pointer;
}
.card_container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.card {
    margin: 0 auto;
    margin-top: 5%;
    padding: 5px 30px;
    width: 400px;
    height: 320px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);

}



h1,
h2,
h3,
h4 {
    position: relative;
}

h1 {
    float: right;
    color: #666;
    font-weight: 300;
    font-size: 6.59375em;
    line-height: .2em;
   
}

h2 {
    font-weight: 300;
    font-size: 2.25em;
   
}

h3 {
    float: left;
    margin-right: 33px;
    color: #777;
    font-weight: 400;
    font-size: 1em;
}

span {
    margin-left: 24px;
    color: #999;
    font-weight: 300;
}

span span {
    margin-left: 0;
}

.dot {
    font-size: .9em;
}

.sky {
    position: relative;
    margin-top: 108px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #03A9F4;
}
.sun {
    position: relative;
    top: -3px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FFEB3B;
}

.cloud {
    position: absolute;
    top: 60px;
    left: 30px;
}

.cloud:before,
.cloud:after {
    position: absolute;
    display: block;
    content: "";
}

.cloud:before {
    margin-left: -10px;
    width: 51px;
    height: 18px;
    background: #fff;
}

.cloud:after {
    position: absolute;
    top: -10px;
    left: -22px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 50px -6px 0 6px #fff, 25px -19px 0 10px #fff;
}
.footer{
width: 100%;
    display:flex;
flex-direction: column;
align-items: center;
justify-content:end;
color:white;

}

